/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

@font-face {
	font-family: "Roboto-Regular";
	src: url("/assets/fonts/roboto-regular-webfont.eot");
	src: url("/assets/fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
		url("/assets/fonts/roboto-regular-webfont.woff") format("woff"),
		url("/assets/fonts/roboto-regular-webfont.ttf") format("truetype"),
		url("/assets/fonts/roboto-regular-webfont.svg#Roboto-Regular") format("svg");
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: "Roboto-Medium";
	src: url("/assets/fonts/roboto-medium-webfont.eot");
	src: url("/assets/fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/roboto-medium-webfont.woff2") format("woff2"),
		url("/assets/fonts/roboto-medium-webfont.woff") format("woff"),
		url("/assets/fonts/roboto-medium-webfont.ttf") format("truetype"),
		url("/assets/fonts/roboto-medium-webfont.svg#Roboto-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: "Roboto-Bold";
	src: url("/assets/fonts/roboto-bold-webfont.eot");
	src: url("/assets/fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
		url("/assets/fonts/roboto-bold-webfont.woff") format("woff"),
		url("/assets/fonts/roboto-bold-webfont.ttf") format("truetype"),
		url("/assets/fonts/roboto-bold-webfont.svg#Roboto-Bold") format("svg");
	font-weight: 700;
	font-style: normal;
}
