/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */


.footer {
	background-color: $dark;
	height: 50px;
	line-height: 50px;

	.copyrights__text {
		color: $white;
		font-family: $robotoRegular;
		font-size: 15px;
	}
}