/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	background-color: $dark;
	height: 50px;
	line-height: 50px;
}