/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.field {
	font-family: $robotoRegular;
	border: 1px solid $dark;
	color: $dark;
	width: 100%;
	height: 32px;

	&:focus {
		box-shadow: none;
	}

	&--transparent {
		border: none;
		border-radius: 0;
		padding: 0;
		pointer-events: none;
		font-size: 16px;
		font-family: $robotoBold;
	}
}

.base__label {
	font-family: $robotoMedium;
	font-size: 16px;
	margin-bottom: 3px;

	&--regular {
		font-family: $robotoRegular;
	}
}

.block__container {
	background-color: $white;
	padding: 20px 25px;
	border-radius: 16px;
	box-shadow: 0 0 10px 2px rgba($black, 0.010);
}

.field__textarea {
	width: 100%;
	resize: none;
	height: 120px;
	padding: 10px;
	border: 1px solid $dark;
	border-radius: 6px;

	&:focus {
		box-shadow: none;
	}
}