/* ------------------------------------------------------------ *\
	Navigations
\* ------------------------------------------------------------ */


.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.main__top__navigation {
		.main__navigation {
			display: flex;
			align-items: center;

			li {
				&+li {
					margin-left: 20px;
				}	

				& a {
					display: inline-block;
					color: $white;
					padding-bottom: 1px;

					&:hover {
						color: $dark_secondary;
					}
				}
			}
		}
	}

	.user__navigation {
		.main__user__nav {
			display: flex;
			align-items: center;

			li {
				&+li {
					margin-left: 10px;
				}		
				
				a {
					line-height: 19px;
					display: inline-block;
					color: $white;
					border-bottom: 1px solid $white;

					&:hover {
						color: $dark_secondary;
						border-bottom: 1px solid $dark_secondary;

					}
				}
			}
		}
	}

}