/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	transition: ease-in-out .3s;
	font-family: $robotoBold;
	color: $white;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 15px;
	padding: 0 5px;
	border: 0;
	outline: 0 !important;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: $white;
	}

	&.focus,
	&:focus {
		box-shadow: none;
	}
}

button {
	&:focus {
		outline: 0;
	}
}

a {
	&:hover {
		text-decoration: none;
		opacity: .9;
	}
}

.btn__common {
	width: 200px;
	height: 42px;
	line-height: 42px;
	border-radius: 6px;
	color: $white;
	background-color: $dark;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		opacity: .9;
	}
}

.btn__circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 38px;
	height: 38px;
	line-height: 38px;
	background-color: rgba($black, 0.2);
	color: $white;
	
	& i {
		font-size: 18px;
	}

	&--rounded {
		border-radius: 50%;
	}
}

@media(max-width: 479px) {
	.btn__common {
		width: 100%;
		height: 32px;
		line-height: 32px;
	}
}