/* ------------------------------------------------------------ *\
	Products
\* ------------------------------------------------------------ */

.products__list {
	display: flex;
	align-items: center;

	li {
		flex: 0 1 24%;
		background-color: $white;
		border-radius: 4px;

		&+li {
			margin-left: 1%;
		}
	
		.product__item {
			.product__item__header {
				margin-bottom: 10px;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;

				.product__item__image  {
					img {
						border-top-left-radius: 4px;
						border-top-right-radius: 4px;
					}
				}
			}
			
			
			.product__item__body {
				padding: 0 10px;

				.product__item__title {
					margin-bottom: 10px;
					font-family: $robotoBold;
				}

				.product__item__text {
					font-size: 14px;
					line-height: 17px;
					font-family: $robotoRegular;
				}
			}

			.product__item__footer {
				padding: 0 10px;
			}
		}
	}
}