/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */


.section {
	height: calc(100vh - 50px - 20px - 50px);
    // margin-top: 10px;
    // margin-bottom: 20px;
	margin-bottom: 200px;

	.page__title {
		font-size: 26px;
		line-height: 26px;
		font-family: $robotoBold;
		padding: 70px 0 40px 0;
	}

	.page__text {
		font-family: $robotoRegular;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 20px;
	}

}

@media(max-width: 1200px) {
	.section {
		.page__title {
			font-size: 22px;
			line-height: 22px;
			padding: 30px 0;
		}	
	}
}

@media(max-width: 479px) {
	.section {
		.page__title {
			font-size: 18px;
			line-height: 18px;
			padding: 10px 0;
		}	
	}

	.page__text {
		font-size: 12px;
		line-height: 18px;
	}
}