/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider__intro {
	margin-bottom: 30px;
	
	.slider__clip {
		position: relative;
		.slider__settings {
			display: block;
			width: 100%;
			min-height: 612px;
			background-position: center center;
			background-repeat: no-repeat;

			&.slider__image__1 {
				background-image: url("/assets/images/image_1.jpg");
			}

			&.slider__image__2 {
				background-image: url("/assets/images/image_2.jpg");
			}

			&.slider__image__3 {
				background-image: url("/assets/images/image_3.jpg");
			}
		}

		.slider__navigation {
			display: flex;
			justify-content: space-between;
			position: absolute;
			top: 50%;
			z-index: 9;
			transform: translateY(-50%);
			width: 100%;
			padding: 0 30px;
		}
	}

}