/* ------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------ */

/*  Colors  */
$white: #fff;
$black: #000;
// $baseBG: #f3f3f5;
$baseBG: #e8e8ec;
$dark: #2a2421;
$dark_secondary: #d8d6d6;

/*  Base body  */
$font-family: "Roboto-Regular", sans-serif;
$font-weight: 400;
$font-size: 15px;
$color: $black;
$line-height: 1.6;

/*  Links  */
$color-link: $black;
$color-link-hover: underline;

/*  Shell  */
$shell: 1230px;
$shell-padding: 0 15px;

/* Fonts */

$robotoRegular: "Roboto-Regular", sans-serif;
$robotoMedium: "Roboto-Medium", sans-serif;
$robotoBold: "Roboto-Bold", sans-serif;